{% extends 'main_app/base.html' %}
{% block content %}
{% load static %}

<div class='container'>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row align-items-center">
        <div class="col-8">
            <div class="fieldWrapper">
                {{ form.title.errors }}
                <label for="{{ form.title.id_for_label }}">Название товара:</label>
                {{ form.title }}
            </div>
            <br>
            <div class="fieldWrapper">
                {{ form.description.errors }}
                <label for="{{ form.description.id_for_label }}">Описание:</label>
                {{ form.description }}
            </div>
            <br>
        </div>
        <div class="col-4 ">
            <img id="myImg" src="{{product.photo.url}}" alt="{{product.title}}" style="width:100%;max-width:500px">
            <!-- Модальное окно -->
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
            <script src="{% static 'js/modal.js' %}"></script>
        </div>
    </div>

    {{ form.non_field_errors }}


    <div class="row">
        <div class="col-sm">
            <div class="fieldWrapper">
                {{ form.price.errors }}
                <label for="{{ form.price.id_for_label }}">Цена:</label>
                {{ form.price }}
            </div>
        </div>
        <div class="col-sm">
            <div class="fieldWrapper">
                {{ form.weight.errors }}
                <label for="{{ form.weight.id_for_label }}">Вес:</label>
                {{ form.weight }}
            </div>
        </div>
        <div class="col-sm">
            <div class="fieldWrapper">
                {{ form.subcategory.errors }}
                <label for="{{ form.subcategory.id_for_label }}">Категория:</label>
                <!-- {{ product_form.subcategory }} -->

                <select class="form-select" name="subcategory" required id='id_subcategory'>
                    {% for c in category %}
                    <optgroup label="{{c}}">
                        {% for sc in c.subcategory_set.all %}
                        {% if sc == product.subcategory %}
                        <option selected value="{{sc.pk}}">{{sc.name}}</option>
                        {% else %}
                        <option value="{{sc.pk}}">{{sc.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <br>

    <div class="fieldWrapper">
        {{ form.photo.errors }}
        <label for="{{ form.photo.id_for_label }}">Фото:</label>
        {{ form.photo }}
    </div>
    <br>
    <div class='text-end'>
        <input type="submit" class='btn btn-success btn-lg' name='update' value="Изменить">
        {% url 'add_product' as ap %}
        {% if request.path == ap %}
        {% else %}
        <input type="submit" class='btn btn-danger btn-lg' name='delete' value="Удалить">
        {% endif %}
    </div>
</form>
</div>
{% endblock %}