{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <!-- Обязательные метатеги -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c044e4f0d6.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <title>{% block title %} {% endblock %}</title>
</head> 

<body>

  {% block header %}
  <header class="p-3 bg-dark text-white">
    <div class="container-xxl">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <h3><a style="color: white;" href="{% url 'local_shop:list_product' %}"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
            <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
            <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
          </svg>
         </a>
        </h3>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

          {% url 'admin_panel:list_product' as ap %}
          {% if request.path == ap %}
          <li><a href="{% url 'admin_panel:list_product' %}" class="nav-link px-2 disabled">Список товаров</a></li>
          {% else %}
          <li><a href="{% url 'admin_panel:list_product' %}" class="nav-link px-2 text-white">Список товаров</a></li>
          {% endif %}

          {% url 'admin_panel:statistic' as us %}
          {% if request.path == us %}
          <li><a href="{% url 'admin_panel:statistic' %}" class="nav-link px-2 disabled">Общая статистика</a></li>
          {% else %}
          <li><a href="{% url 'admin_panel:statistic' %}" class="nav-link px-2 text-white">Общая статистика</a></li>
          {% endif %}

          {% url 'admin_panel:reception' as r %}
          {% if request.path == r %}
          <li><a href="{% url 'admin_panel:reception' %}" class="nav-link px-2 disabled">Прием товаров</a></li>
          {% else %}
          <li><a href="{% url 'admin_panel:reception' %}" class="nav-link px-2 text-white">Прием товаров</a></li>
          {% endif %}

          {% url 'admin_panel:control_qiwi' as q %}
          {% if request.path == q %}
          <li><a href="{% url 'admin_panel:control_qiwi' %}" class="nav-link px-2 disabled">Управление киви</a></li>
          {% else %}
          <li><a href="{% url 'admin_panel:control_qiwi' %}" class="nav-link px-2 text-white">Управление киви</a></li>
          {% endif %}

          <div class="dropdown">
            <a class="btn btn-outline-light dropdown-toggle px-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Заказы (Бот)
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% url 'admin_panel:no_paid_order' as no %}
              {% if request.path == no %}
              <li><a class="dropdown-item disabled" href="{% url 'admin_panel:no_paid_order' %}">Неоплаченные заказы</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'admin_panel:no_paid_order' %}">Неоплаченные заказы</a></li>
              {% endif %}

              {% url 'admin_panel:paid_order' as oo %}
              {% if request.path == oo %}
              <li><a href="{% url 'admin_panel:paid_order' %}" class="dropdown-item disabled">Оплаченные заказы</a></li>
              {% else %}
              <li><a href="{% url 'admin_panel:paid_order' %}" class="dropdown-item">Оплаченные заказы</a></li>
              {% endif %}

              {% url 'admin_panel:qiwi_order' as qo %}
              {% if request.path == qo %}
              <li><a class="dropdown-item disabled" href="{% url 'admin_panel:qiwi_order' %}">Qiwi заказы</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'admin_panel:qiwi_order' %}">Qiwi заказы</a></li>
              {% endif %}
            </ul>
          </div>

          <div class="dropdown px-2">
            <a class="btn btn-outline-light dropdown-toggle px-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Заказы (Сайт)
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% url 'admin_panel:site_no_paid_order' as qo %}
              {% if request.path == qo %}
              <li><a class="dropdown-item disabled" href="{% url 'admin_panel:site_no_paid_order' %}">Неоплаченные заказы через сайт</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'admin_panel:site_no_paid_order' %}">Неоплаченные заказы через сайт</a></li>
              {% endif %}

              {% url 'admin_panel:site_paid_order' as qo %}
              {% if request.path == qo %}
              <li><a class="dropdown-item disabled" href="{% url 'admin_panel:site_paid_order' %}">Оплаченные заказы через сайт</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'admin_panel:site_paid_order' %}">Оплаченные заказы через сайт</a></li>
              {% endif %}

              {% url 'admin_panel:site_qiwi_order' as qo %}
              {% if request.path == qo %}
              <li><a class="dropdown-item disabled" href="{% url 'admin_panel:site_qiwi_order' %}">Оплаченные заказы через сайт (QIWI)</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'admin_panel:site_qiwi_order' %}">Оплаченные заказы через сайт (QIWI)</a></li>
              {% endif %}
            </ul>
          </div>

        </ul> 

        

        <div class="text-end">
          <div class="btn-group">
            <a class="btn btn-outline-light me-2" href="{% url 'admin_panel:create_category' %}" role="button">+ Категория</a>
          </div><!-- /btn-group -->
          <div class="btn-group">
            <a class="btn btn-outline-light me-2" href="{% url 'admin_panel:create_product' %}" role="button">+ Товар</a>
          </div><!-- /btn-group -->
          <a class="btn btn-danger " href="{% url 'logout' %}" role="button">Выход</a>
        </div>
      </div>
    </div>
  </header>
  {% endblock %}


  {% block message %}
  <div class='container'>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    {% endif %}
  </div>
  {% endblock %}




  <main class="flex-shrink-0">

    <br>
    {% block content %}

    {% endblock %}

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>
