{% extends 'main_app/base.html' %}
{% block content %}
{% load static %}

<div class='container'>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row align-items-center">
        <div class="col">
            <div class="fieldWrapper">
                {{ form.title.errors }}
                <label for="{{ form.title.id_for_label }}">Название товара:</label>
                {{ form.title }}
            </div>
            <br>
            <div class="fieldWrapper">
                {{ form.description.errors }}
                <label for="{{ form.description.id_for_label }}">Описание:</label> <div class="text-end text-muted" id='textarea_count'>0/1000</div>
                {{ form.description }}
            </div>
            <br>
        </div>

    {{ form.non_field_errors }}


    <div class="row">
        <div class="col-sm">
            <div class="fieldWrapper">
                {{ form.price.errors }}
                <label for="{{ form.price.id_for_label }}">Цена:</label>
                {{ form.price }}
            </div>
        </div>
        <div class="col-sm">
            <div class="fieldWrapper">
                {{ form.weight.errors }}
                <label for="{{ form.weight.id_for_label }}">Вес:</label>
                {{ form.weight }}
            </div>
        </div>
        <div class="col-sm">
            <div class="fieldWrapper">
                {{ form.subcategory.errors }}
                <label for="{{ form.subcategory.id_for_label }}">Категория:</label>
                <!-- {{ product_form.subcategory }} -->

                <select class="form-select" name="subcategory" required id='id_subcategory'>
                    {% for c in category %}
                    <optgroup label="{{c}}">
                        {% for sc in c.subcategory_set.all %}
                        {% if sc == product.subcategory %}
                        <option selected value="{{sc.pk}}">{{sc.name}}</option>
                        {% else %}
                        <option value="{{sc.pk}}">{{sc.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <br>

    <div class="fieldWrapper">
        {{ form.photo.errors }}
        <label for="{{ form.photo.id_for_label }}">Фото:</label>
        {{ form.photo }}
    </div>
 
    <div class='text-end'>
        <br>
        <input type="submit" class='btn btn-success btn-lg' name='update' value="Создать">
        {% url 'admin_panel:create_product' as ap %}
        {% if request.path == ap %}
        {% else %}
        <input type="submit" class='btn btn-danger btn-lg' name='delete' value="Удалить">
        {% endif %}
    </div>
</form>
</div>

<script>
    $('#id_description').bind('input', function () {
        var len = $("#id_description").val().length;
        $('#textarea_count').text(len + '/1000')
        if (len > 1000) {
            $('#id_description').removeClass('alert-success');
            $('#id_description').addClass('alert-danger');
        } else {
            $('#id_description').removeClass('alert-danger');
            $('#id_description').addClass('alert-success');
        }

    });
</script>
{% endblock %}