{% extends 'main_app/base.html' %}

{% block content %}


<a href="" onClick="window.open('opened.html', 'joe',
config='height=300,width=300')">Щелкните, чтобы открыть 'joe'</a>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Цена</th>
        <th scope="col">Категория</th>
        <th scope="col">Подкатегория</th>
        <th scope="col">Остаток</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
    {% for p in product %}
      <tr>
        <th scope="row">{{p.pk}}</th>
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
        <td>{{p.subcategory.category}}</td>
        <td>{{p.subcategory}}</td>
        <td>{{p.count}}</td>
        <td><a class="btn btn-primary btn-warning" href="{% url 'productdetail' pk=p.pk %}" role="button">1</a>
          <a class="btn btn-primary btn-success" href="{% url 'reception' pk=p.pk %}" target="_blank" role="button">2</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}