{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}
<div class='text-center'><h1>{{title}}</h1></div>

<div class="accordion" id="accordionExample">
    {% for qs in queryset %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{qs.pk}}"
                aria-expanded="true" aria-controls="collapse{{qs.pk}}">
                От {{qs.get_datetime}} на сумму {{ qs.get_order_price }} руб.
            </button>
        </h2>
        <div id="collapse{{qs.pk}}" class="accordion-collapse collapse " aria-labelledby="heading{{qs.pk}}"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-sm">
                        Имя - {{qs.fio}} <br>
                        адрес - {{qs.address}} <br>
                        Индекс - {{qs.post_index}} <br>
                        Телефон - {{qs.number}} <br>
                        {% if qs.user.username %}
                        Телеграм - @{{qs.user.username}}
                        {% endif %}
                    </div>
                    <div class="col-sm">
                        Доставка - {{qs.delivery_pay}} руб.<br>
                        {% for item in qs.sold_product.all %}

                        {{item.product.title}} - {{item.count}} шт. - {% widthratio item.price 1 item.count %} рублей
                        {% endfor %}
                    </div>
                    <div class="col-sm">
                        <form action="" method='post'>
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{qs.pk}}">
                            <div class="input-group mb-3">
                                <input type="text" name="track_number" class="form-control" pattern="[0-9]{13,14}" {% if qs.track_code %} value="{{qs.track_code}}"{% endif %} placeholder="Трек номер"
                                    aria-label="Username" aria-describedby="addon-wrapping">
                                <button class="btn btn-outline-secondary" type="submit"
                                    id="button-addon2">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}