{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}

<!-- <link rel="stylesheet" href="magnific-popup/magnific-popup.css"> -->
<link type="text/css" href="{% static 'css/img.css' %}" rel="stylesheet" />

<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<!-- Magnific Popup core JS file -->
<script src="magnific-popup/jquery.magnific-popup.js"></script>

<div class='container'>


<div class='text-center'>
    <h1>{{product.title}}</h1>
    <h4>Остаток: {{product.count}}</h4>
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Изменить товар
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="fieldWrapper">
                                {{ product_form.title.errors }}
                                <label for="{{ product_form.title.id_for_label }}">Название:</label>
                                {{ product_form.title }}
                            </div>
                            <br>
                            <div class="fieldWrapper">
                                {{ product_form.description.errors }}
                                <label for="{{ product_form.description.id_for_label }}">Описание:</label>
                                {{ product_form.description }}
                            </div>
                            <br>
                        </div>
                        <div class="col-4 ">
                            <img id="myImg" src="{{product.photo.url}}" alt="{{product.title}}"
                                style="width:100%;max-width:500px">
                            <!-- Модальное окно -->
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                            <script src="{% static 'js/modal.js' %}"></script>
                        </div>
                    </div>

                    {{ form.non_field_errors }}


                    <div class="row">
                        <div class="col-sm">
                            <div class="fieldWrapper">
                                {{ product_form.price.errors }}
                                <label for="{{ product_form.price.id_for_label }}">Цена:</label>
                                {{ product_form.price }}
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="fieldWrapper">
                                {{ product_form.weight.errors }}
                                <label for="{{ product_form.weight.id_for_label }}">Вес:</label>
                                {{ product_form.weight }}
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="fieldWrapper">
                                {{ product_form.subcategory.errors }}
                                <label for="{{ product_form.subcategory.id_for_label }}">Категория:</label>
                                <!-- {{ product_form.subcategory }} -->

                                <select class="form-select" name="subcategory" required id='id_subcategory'>
                                    {% for c in category %}
                                    <optgroup label="{{c}}">
                                        {% for sc in c.subcategory_set.all %}
                                        {% if sc == product.subcategory %}
                                        <option selected value="{{sc.pk}}">{{sc.name}}</option>
                                        {% else %}
                                        <option value="{{sc.pk}}">{{sc.name}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="fieldWrapper">
                        {{ product_form.photo.errors }}
                        <label for="{{ product_form.photo.id_for_label }}">Фото:</label>
                        {{ product_form.photo }}
                    </div>
                    <br>
                    <div class='text-end'>
                        <button type="submit" class='btn btn-success btn-lg' name='update'>Изменить</button>
                        <!-- Кнопка-триггер модального окна -->
                        <button type='button' class='btn btn-danger btn-lg' data-bs-toggle="modal" data-bs-target="#exampleModal" >Удалить</button>
                    </div>
                

                

                <br>
            </div>
        </div>
    </div>
</div>
<br>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <!-- Модальное окно -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Вы уверены что хотите удалить товар?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" name="delete" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </div>
  </div>

</form>

<form action="" method='POST'>
    {% csrf_token %}
    {{reception_form.as_p}}
    <div class='text-end'>
        <button type="submit" class="btn btn-success" name="reception">Добавить </button>
    </div>
</form>
<br>

<div class=text-end>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            Списать товар
        </button>

        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <form action="" method='post'>
                {% csrf_token %}
                <li><input class="form-control" name='liquidated_count' type="number" min=1 placeholder="Введите кол-во"
                        aria-label="default input example" required>
                </li>
                <br>
                <li><input class="form-control" name='liquidated_price' type="number" min=0
                        placeholder="Введите цену за 1 шт." aria-label="default input example" required>
                </li>
                <br>
                <li><textarea class="form-control" name='liquidated_note' id="exampleFormControlTextarea1"
                        placeholder="Поле для заметок" rows="3"></textarea></li>
                <br>
                <div class='text-center'>
                    <li><button type="submit" class="btn btn-warning" name='liquidated'>Списать</button></li>
            </form>

    </div>
    </ul>
</div>
<br><br>

<div class='text-center'>
    <div class="container">
        <h2>Общая выручка:</h2>
        <h3>{{stat_dict.all_stat}} руб.</h3>
        <br>
        <div class="row">
            <div class="col-sm">
                <h2>Продано всего:</h2>
                <h3>{{stat_dict.sold_stat.1}} ед. на {{stat_dict.sold_stat.0}} руб.</h3>
            </div>
            <div class="col-sm">
                <h2>Закуплено всего:</h2>
                <h3>{{stat_dict.reception_stat.1}} ед. на {{stat_dict.reception_stat.0}} руб.</h3>
            </div>
            <div class="col-sm">
                <h2>Списано всего:</h2>
                <h3>{{stat_dict.liquidated_stat.1}} ед. на {{stat_dict.liquidated_stat.0}} руб.</h3>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class='text-center'>
<form action="" method='get'>
    <label for="start">Start date:</label>
    <input type="date" id="start" name="start" value="" min="">
    <label for="start">End date:</label>
    <input type="date" id="end" name="end" value="" min="">
    <br><br>

    <div class="input-group mb-3">
        <select name='only' class="form-select" aria-label="Default select example">
            <option value='' selected>Показать:</option>
            <option value="reception">Только приемка</option>
            <option value="sold">Только проданные</option>
            <option value="liquidated">Только списанные</option>
        </select>
        <button type="submit" class="btn btn-primary">Показать</button>
    </div>
</form>
</div>

</div>



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Цена за 1 шт.</th>
            <th scope="col">Цена за все</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Дата</th>
            <th scope="col">Заметка</th>
        </tr>
    </thead>
    <tbody>
        {% for tq in trade_queryset %}

        {% if tq.get_my_model_name == 'soldproduct' %}
        <tr class="table-light">
            <th scope="">Продано</th>
            {% else %}
            {% if tq.liquidated %}
        <tr class="table-danger">
            <th scope="row">Списано</th>
            {% else %}
        <tr class="table-dark">
            <th scope="row">Закуплено</th>
            {% endif %}
            {% endif %}
            <td>{{tq.price}} р.</td>
            <td>{% widthratio tq.price 1 tq.count %} р.</td>
            <td>{{tq.count}}</td>
            <td>{{tq.get_datetime}}</td>
            {% if tq.note %}
            <td><button onclick="alert('{{tq.note}}')">Заметка</button>
            </td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tr>
    </tbody>
</table>





{% endblock %}