{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="magnific-popup/magnific-popup.css">
<link type="text/css" href="{% static 'css/img.css' %}" rel="stylesheet" />

<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<!-- Magnific Popup core JS file -->
<script src="magnific-popup/jquery.magnific-popup.js"></script>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <form action="" method="get">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
    <button type="submit" name="confirm_delete" class="btn btn-danger btn-sm">Удалить</button>
    </form>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</ul>
{% endif %}


<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <div class="row align-items-center">
          <div class="col-8">
            <div class="fieldWrapper">
                {{ product_form.title.errors }}
                <label for="{{ product_form.title.id_for_label }}">Title:</label>
                {{ product_form.title }}
            </div>
            <br>
            <div class="fieldWrapper">
                {{ product_form.description.errors }}
                <label for="{{ product_form.description.id_for_label }}">description:</label>
                {{ product_form.description }}
            </div>
            <br>
          </div>
          <div class="col-4 ">
                <img id="myImg" src="{{product.photo.url}}" alt="{{product.title}}" style="width:100%;max-width:500px">
                    <!-- Модальное окно -->
                <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
                </div>
      <script src="{% static 'js/modal.js' %}"></script>
          </div>
        </div>
    
    {{ form.non_field_errors }}


  <div class="row">
    <div class="col-sm">
        <div class="fieldWrapper">
            {{ product_form.price.errors }}
            <label for="{{ product_form.price.id_for_label }}">price:</label>
            {{ product_form.price }}
        </div>
    </div>
    <div class="col-sm">
      <div class="fieldWrapper">
    {{ product_form.count.errors }}
    <label for="{{ product_form.count.id_for_label }}">count:</label>
    {{ product_form.count }}
    </div>
    </div>
    <div class="col-sm">
        <div class="fieldWrapper">
            {{ product_form.subcategory.errors }}
            <label for="{{ product_form.subcategory.id_for_label }}">subcategory:</label>
            <!-- {{ product_form.subcategory }} -->
        
            <select class="form-select" name="subcategory" required id='id_subcategory' >
                {% for c in category %}
                <optgroup label="{{c}}">
                    {% for sc in c.subcategory_set.all %}
                    {% if sc == product.subcategory %}
                    <option selected value="{{sc.pk}}">{{sc.name}}</option>
                    {% else %}
                    <option value="{{sc.pk}}">{{sc.name}}</option>
                    {% endif %}
                    {% endfor %}
                </optgroup>
                {% endfor %}
              </select>
        </div>
    </div>
  </div>
<br>  

<div class="fieldWrapper">
    {{ product_form.photo.errors }}
    <label for="{{ product_form.photo.id_for_label }}">Your photo:</label>
    {{ product_form.photo }}
</div>
<br>
<div class='text-end'>
    <input type="submit" class='btn btn-success btn-lg' name='update' value="Изменить">
    {% url 'add_product' as ap %}
    {% if request.path == ap %}
    {% else %}
    <input type="submit" class='btn btn-danger btn-lg' name='delete' value="Удалить">
    {% endif %}
</div>
</form>

<br>


{% endblock %}

