{% extends 'base.html' %}
{% block title %}finesauces{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-3">
        <div class="card shadow-custom border-0">
            <h4 class="p-3 font-weight-bold text-grey">
                Категории
            </h4>
            <ul class="list-group border-0 categories_list">
                {% if not requested_category and not requested_subcategory %}
                    <li class="list-group-item border-0 p-0 selected">
                {% else %}
                    <li class="list-group-item border-0 p-0 unselected">
                {% endif %}
                    <a href="{% url 'online_shop:product_list' %}" class="btn btn-block text-left">Все товары</a>
                </li>
                {% for category in categories %}
                    {% if category.slug == requested_category.slug %}
                    <li class="list-group-item border-0 p-0 selected">
                    {% else %}
                    <li class="list-group-item border-0 p-0 unselected">
                    {% endif %}
                    <a href="{{ category.get_absolute_url_for_shop }}" class="btn btn-block text-left">
                        {{ category.name }}
                    </a>
                    <ul>
                        {% for subcategory in category.subcategory_set.all %}
                        {% if subcategory.slug == requested_subcategory.slug %}
                        <li class="list-group-item border-0 p-0 selected">
                        {% else %}
                        <li class="list-group-item border-0 p-0 unselected">
                        {% endif %}
                            <a href="{{ subcategory.get_absolute_url_for_shop }}" class="btn btn-block text-left">
                            {{ subcategory.name }}
                        </a>
                        {% endfor %}
                        </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow-custom border-0 mb-4">
            <div class="card-body text-center">
                <h2 class="font-weight-bold text-grey">
                    {% if requested_category and requested_subcategory %}
                        {{ requested_subcategory.name }}
                    {% elif requested_category %}
                        {{ requested_category.name }}
                    {% else %}
                        Все товары
                    {% endif %}
                </h2>
                <div class="bottom_line"></div>
            </div>
        </div>
        <div class="row no-gutters">
            {% for product in products %}
            <div class="col-sm-6">
                <div class="card product">
                    <div class="item">
                        <div class="item-image">
                            <img src="{{ product.photo.url }}" alt="" class="img-fluid rounded-0">
                        </div>
                        <div class="item-text">
                            <div class="item-text-wrap">
                                <a href="{{ product.get_absolute_url_for_shop }}" 
                  class="h2 text-white text-decoration-none">
                  <i class="fas fa-search-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            {{ product.title }}
                            <hr>
                            <span>{{ product.price }} руб.</span>
                            <div>
                                <!-- <i class="fas fa-fire"></i> {{ product.shu }} SHU -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<hr>
{% endblock content %}