{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}
{% block content %}
<div class="card shadow-custom border-0 col-lg-7 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">
        Оформление заказа:
    </h3>
    <form method="post">
        {% csrf_token %}
        {{order_form.errors}}
        <div class="row">
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Имя:</label>
                    {{ order_form.first_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Фамилия:</label>
                    {{ order_form.last_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Email</label>
                    {{ order_form.email }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Номер телефона</label>
                    {{ order_form.telephone }}
                </div>
            </div>
        </div>
        <hr class="mt-0">
        <div class="row">
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Адрес</label>
                    {{ order_form.address }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Город</label>
                    {{ order_form.city }}
                </div>
            </div>
            <div class="col-md-6">
                <div id="postal_code_div" class="input-field">
                    <label class="text-muted">Почтовый индекс</label>
                    {{ order_form.postal_code }}
                </div>
            </div>


        </div>
        <hr>
        <h4 class="py-2 font-weight-bold text-grey">
            Стоймость доставки:
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="radiobtn">
                        
                        <h1 class='text-right' id="delivery_coast">0 руб.</h1>


                    </label>
                </div>

            </div>
        </div>
        <hr class="mb-4">
        <div class="input-field">
            <label class="text-muted">Заметка к заказу</label>
            {{ order_form.note }}
        </div>
        <h4 class="py-2 font-weight-bold text-grey">Общая цена:
            <span id="order-total" class="text-danger float-right">{{cart_total_price}} руб.</span>
        </h4>
</div>
<div class="col-lg-7 mx-auto mb-3">
    <div class="row justify-content-end">
        <div class="col-lg-8 px-0">
            <div class="btn-group d-flex">
                <a href="{% url 'online_shop:product_list' %}" class="btn btn-warning shadow-custom col">
                    Назад
                </a>
                <button id="sub_button" type="submit" class="btn btn-danger shadow-custom col">
                    Создать заказ
                </button>
            </div>
        </div>
    </div>
</div>
</form>



<script>
    $('#id_postal_code').bind('input', function () {
        var cart_coast = $('#order-total').text();
        cart_coast_int = parseInt(cart_coast, 10);
        $.ajax({
            url: "{% url 'online_shop:validate_postal_code' %}",
            method: 'get',
            dataType: 'html',
            data: { id_postal_code: $('#id_postal_code').val() },
            success: function (data) {
                $('#postal_code_div').removeClass('error-input');
                $('#postal_code_div').addClass('success-input');
                obj = JSON.parse(data)
                $('#delivery_coast').text(obj.is_taken + ' руб.')
                $('#order-total').text((obj.is_taken + cart_coast_int) + ' руб.')
                document.getElementById("sub_button").disabled = false;
                
            },
            error: function (data) {
                document.getElementById("sub_button").disabled = true;
                $('#delivery_coast').text(0);
                $('#order-total').text(cart_coast_int + ' руб.');
                $('#postal_code_div').removeClass('success-input');
                $('#postal_code_div').addClass('error-input');
            }

        });
    });

</script>

{% endblock content %}