{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}
{% block content %}
<div class="card shadow-custom border-0 col-lg-7 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">
        Оформление заказа:
    </h3>
    <form method="post">
        {% csrf_token %}
        {{orm.errors}}
        <div class="row">
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Имя:</label>
                    {{ form.first_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Фамилия:</label>
                    {{ form.last_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Email</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Номер телефона</label>
                    {{ form.telephone }}
                </div>
            </div>
        </div>
        <hr class="mt-0">
        <div class="row">
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Адрес</label>
                    {{ form.address }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-field">
                    <label class="text-muted">Город</label>
                    {{ form.city }}
                </div>
            </div>
            <div class="col-md-6">
                <div id="postal_code_div" class="input-field">
                    <label class="text-muted">Почтовый индекс</label>
                    {{ form.postal_code }}
                </div>
            </div>


        </div>
        <hr>
        <h4 class="py-2 font-weight-bold text-grey">
            Стоймость доставки:
        </h4>
        

        <div class="row">
            <div class="col-md-12">
                <div class="radiobtn">

                    <h1 class='text-right' id="delivery_coast">0 руб.</h1>


                    </label>
                </div>

            </div>
        </div>
        {% if not request.user.is_authenticated %}
        <div class="mt-2 text-center">
            Уже зарегистрированы?
            <a href="{% url 'login' %}" class="text-decoration-none">
                Войти
            </a>
        </div>
        {% endif %}
        <hr class="mb-4">
        <div class="input-field">
            <label class="text-muted">Заметка к заказу</label>
            {{ form.note }}
        </div>
        <h4 class="py-2 font-weight-bold text-grey">Общая цена:
            <span id="order-total" class="text-danger float-right">{{cart_total_price}} руб.</span>
        </h4>
</div>
<div class="col-lg-7 mx-auto mb-3">
    <div class="row justify-content-end">
        <div class="col-lg-12 px-0">
            <div class="btn-group d-flex">
                <button id="sub_button" type="submit" name="manager_payment" class="btn btn-danger shadow-custom col">
                    Оплата через менеджера (Без коммиссии)
                </button>
                <button id="sub_qiwi_button" name="qiwi_payment" type="submit" class="btn btn-danger shadow-custom col">
                    Оплата QIWI (Может взиматься коммиссия 2%)
                </button>
            </div>
        </div>
        <a href="{% url 'online_shop:product_list' %}" class="btn btn-warning shadow-custom col">
            Назад
        </a>
    </div>
</div>
</form>



<script>
    var cart_coast = $('#order-total').text();
    var cart_coast_int = parseInt(cart_coast, 10);

    $('#id_postal_code').bind('input', function () {
        $.ajax({
            url: "{% url 'online_shop:validate_postal_code' %}",
            method: 'get',
            dataType: 'html',
            data: { id_postal_code: $('#id_postal_code').val() },
            success: function (data) {
                $('#postal_code_div').removeClass('error-input');
                $('#postal_code_div').addClass('success-input');
                obj = JSON.parse(data)
                $('#delivery_coast').text(obj.is_taken + ' руб.')
                $('#order-total').text((obj.is_taken + cart_coast_int) + ' руб.')
                document.getElementById("sub_button").disabled = false;
                document.getElementById("sub_qiwi_button").disabled = false;

            },
            error: function (data) {
                document.getElementById("sub_button").disabled = true;
                document.getElementById("sub_qiwi_button").disabled = true;
                $('#delivery_coast').text(0);
                $('#order-total').text(cart_coast_int + ' руб.');
                $('#postal_code_div').removeClass('success-input');
                $('#postal_code_div').addClass('error-input');
            }

        });
    });
    $(document).ready(function () {
        var postal_code = $('#id_postal_code').val()
        if (postal_code.length == 6) {
            $.ajax({
                url: "{% url 'online_shop:validate_postal_code' %}",
                method: 'get',
                dataType: 'html',
                data: { id_postal_code: $('#id_postal_code').val() },
                success: function (data) {
                    $('#postal_code_div').removeClass('error-input');
                    $('#postal_code_div').addClass('success-input');
                    obj = JSON.parse(data)
                    $('#delivery_coast').text(obj.is_taken + ' руб.')
                    $('#order-total').text((obj.is_taken + cart_coast_int) + ' руб.')
                    document.getElementById("sub_button").disabled = false;
                    document.getElementById("sub_qiwi_button").disabled = false;

                },
                error: function (data) {
                    document.getElementById("sub_button").disabled = true;
                    document.getElementById("sub_qiwi_button").disabled = true;
                    $('#delivery_coast').text(0);
                    $('#order-total').text(cart_coast_int + ' руб.');
                    $('#postal_code_div').removeClass('success-input');
                    $('#postal_code_div').addClass('error-input');
                }

            });
        }
    });

</script>

{% endblock content %}
