{% extends 'main_app/base.html' %}
{% block title %} Управление киви кошельками {% endblock %}
{% block content %}
<div class="container">

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Удалить токен
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form action="" method='post'>
                    {% csrf_token %}
                    <div class="input-group mb-3">
                    <select class="form-select" name='id' id="id_id" aria-label="Default select example">
                        <option selected>Выберите номер для удаления</option>
                        {% for qs in queryset %}
                        <option value="{{qs.pk}}">{{qs.number}}</option>
                        {% endfor %}
                      </select>
                      <button type="submit" name="del_tok" class="btn btn-primary">Primary</button>
                    </div>
                </form>    
            </div>
          </div>
        </div>
    </div>
 
    <br>
    <form action="" method='post'>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" name='new_token' class="btn btn-primary">Primary</button>
</form>



<div class='text-center'>
    {% if pay_product %}
    <h1>
        <p class="text-danger">НЕЛЬЗЯ (в данный момент на брони - {{pay_product.count}} человек)
    </h1>
    {% else %}
    <h1>
        <p class="text-primary">МОЖНО МЕНЯТЬ КОШЕЛЕК
    </h1>
    {% endif %}
</div>
<form action="" method='post'>
    {% csrf_token %}
    <div class='text-end'>
        <button type='submit' name='activate'>GO</button>
    </div>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Номер</th>
                <th scope="col">Блок</th>
                <th scope="col">Баланс</th>
                <th scope="col">Активен</th>
            </tr>
        </thead>
        <tbody>
            {% for qs in queryset %}
            {% if qs.blocked %}
            <tr class="table-danger">
            {% else %}
            <tr>
            {% endif %}
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{qs.number}}</td>
                <td>{{qs.blocked}}</td>
                <td>{{qs.balance}} руб.</td>
                <td><input class="form-check-input" type="radio" name="id" id="id_id" value={{qs.pk}} {% if qs.active %} checked {% endif %}{% if pay_product %}disabled{% endif %}{% if qs.blocked %}disabled{% endif %}> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</form>

</div>

{% endblock %}
