{% extends 'main_app/base.html' %}
{% load static %}

{% block title %} Категории {% endblock %}

{% block content %}

<div class='container'>

<div class="text-center">
    <h1>Категории</h1>
</div>
<br>
<form action="{% url 'admin_panel:create_category' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group mb-3">
        {{ category_form.max_count_product }}   
        <span class="input-group-text">@</span>
        {{ category_form.name }}
      </div>

    <br>

    <div class="row">

        <div class="col-8">
            {{ category_form.photo }}
        </div>
        <div class="col">
            <div class="text-end">
                <button class="btn btn-success" type="Submit" id="button-addon2" name="create_category">Создать</button>
            </div>
        </div>
    </div>
</form>
<br>
</div>

<div class="accordion" id="accordionExample">
    {% for c in queryset %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{c.pk}}"
                aria-expanded="true" aria-controls="collapse-{{c.pk}}">
                {{c}}
            </button>
        </h2>
        <div id="collapse-{{c.pk}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">


                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя подкатегории</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for sc in c.subcategory_set.all %}
                        <tr>
                            <th scope="row">{{sc.pk}}</th>
                            <td>{{sc.name}}</td>
                            <td>
                                <div class="text-end">
                                    <a class="btn btn-primary btn-sm" href="{% url 'admin_panel:subcategorydetail' pk=sc.pk %}"
                                        role="button">Изменить</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <!-- Поле ввода файла -->
                                <div class='text-end'>
                                    <!-- <input class="form-control-sm" type="file" id="formFile"> -->
                                    <form action="" method='post' enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{sc_form.name}}
                                        
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- <div class="input-group mb-3"> -->
                            <input type="hidden" id="id_category" name="category" value="{{c.pk}}">
                            
                            {{sc_form.photo}}


                        </div>
                    </div>
                <br>
                <div class='row'>
                    <div class="col">
                        <a class="btn btn-warning btn-sm" href="{% url 'admin_panel:categorydetail' pk=c.pk %}"
                            role="button">Изменить</a>
                    </div>

                    <div class='col'>
                        <div class='text-end'>
                            <button class="btn btn-outline-success" type="submit" name="create_sc">Создать</button>
                        </div>
                    </div>
                </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>

    {% endfor %}
</div>




{% endblock %}