{{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
{% if messages %}
<div class="shadow-custom messages alert alert-danger
col-lg-5 mx-auto text-center">
    {% for message in messages %}
    {{ message }}
    <a href="" class="close">x</a>
    {% endfor %}
</div>
{% endif %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">
        Register
    </h3>
    <form action="" method="post">
        <div class="form-group">
            {% csrf_token %}
            <div class="input-field">
                {{ user_form.first_name }}
                <label for="first_name">Имя</label>
            </div>
            <div class="input-field">
                {{ user_form.last_name }}
                <label for="last_name">Фамилия</label>
            </div>
            <div class="input-field">
                {{ user_form.email }}
                <label for="email">Email</label>
            </div>
            <div class="input-field">
                {{ user_form.password }}
                <label for="password">Пароль</label>
            </div>
            <div class="input-field">
                {{ user_form.password2 }}
                <label for="password2">Повторите пароль</label>
            </div>
        </div>
        <button class="btn btn-block btn-warning mb-3" type="submit">
            Регистрация
        </button>
    </form>
</div>
{% endblock %}}