@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html, body {
    height : 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.outer {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    text-align: center;
    width: auto;
    padding: 0 15px;
}


#range5 {
    background: rgba(77, 56, 75, 1);
    background: -moz-linear-gradient(left, rgba(77, 56, 75, 1) 0%, rgba(36, 54, 90, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77, 56, 75, 1)), color-stop(100%, rgba(36, 54, 90, 1)));
    background: -webkit-linear-gradient(left, rgba(77, 56, 75, 1) 0%, rgba(36, 54, 90, 1) 100%);
    background: -o-linear-gradient(left, rgba(77, 56, 75, 1) 0%, rgba(36, 54, 90, 1) 100%);
    background: -ms-linear-gradient(left, rgba(77, 56, 75, 1) 0%, rgba(36, 54, 90, 1) 100%);
    background: linear-gradient(to right, rgba(77, 56, 75, 1) 0%, rgba(36, 54, 90, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d384b', endColorstr='#24365a', GradientType=1 );
    height: 100%;
    min-height: 400px; 
}


#range5 .login-wr {
    position: relative;
    margin: 0 auto;
    max-width: 270px;
    padding: 0 15px 0 15px;
}

#range5 h2 {
    font-weight: 200;
    font-size: 1.6em;
    margin: 0;
    padding: 0;
    color: #eee;
}

#range5 .form {
    padding-top: 20px;
    text-align: center;
}

#range5 input[type="text"], 
#range5 input[type="password"],
#range5 button {
    margin-bottom: 25px;
    height: 40px;
    outline: 0;
    -moz-outline-style: none;
}
      
#range5 input[type="text"] {
    background: url("img/user2.png") no-repeat left 10px center;    
}

#range5 input[type="password"] {
    background: url("img/pencil2.png") no-repeat left 10px center;    
}

#range5 input[type="text"],
#range5 input[type="password"] {
    width: calc(80% - 50px);
    border: none;
    border-bottom: 1px solid #666;
    padding: 0 0 0 50px;
    font-size: 20px;
}

#range5 input[type="text"]:focus,
#range5 input[type="password"]:focus {
    border-bottom: 1px solid #ccc;
    color: #eee;
}  
    
#range5 a {
    text-align: center;
    font-size: 12px;
    color: #eee;
}  

#range5 p{
    padding-bottom: 10px;
}
      
#range5 button {
    width: 80%;  
    background: none;
    border:none;
    border: 1px solid #666;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

#range5 *:-webkit-input-placeholder {
    color: #ccc;
}

#range5 *:-moz-placeholder {
    color: #ccc;
}

#range5 *::-moz-placeholder {
    color: #ccc;
}

#range5 *:-ms-input-placeholder {
    color: #ccc; 
}