{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block content %}
{% if form.errors %}
<div class="shadow-custom messages alert alert-danger
col-lg-4 mx-auto text-center">
    Incorrect username / password
    <a href="" class="close">x</a>
</div>
{% endif %}
<div class="card shadow-custom border-0 col-lg-4 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">Log in </h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-field">
            {{ form.username }}
            <label for="username">Username</label>
        </div>
        <div class="input-field">
            {{ form.password }}
            <label for="password">Password</label>
        </div>
        <button class="btn btn-block btn-warning mb-3" type="submit">
            Log in
        </button>
    </form>
    <div class="text-center mb-2">
        <a href="{% url 'password_reset' %}" class="text-decoration-none">
            Forgot your password?
        </a>
    </div>
</div>
{% endblock %}