{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}
{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">
        Forgot your password?
    </h3>
    <p class="text-center">
        Your email address for sending password reset instructions
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="input-field">
            <label for="email" class="text-muted">Email</label>
            <input class="form-control" type="email" name="email" required="" id="id_email">
        </div>
        <button class="btn btn-block btn-warning mb-3" type="submit">
            Send email
        </button>
    </form>
</div>
{% endblock %}