{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}Оплаченные заказы{% endblock %}
{% block content %}

<div class="container">

  <h1 class='text-center'>Оплаченные заказы</h1>

    <div class="accordion" id="accordionExample">
        {% for qs in queryset %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{qs.pk}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{qs.pk}}" aria-expanded="true" aria-controls="collapse-{{qs.pk}}">
                    Заказ #{{qs.pk}} от {{qs.get_datetime}} на сумму {{qs.price}} руб.

                </button>
            </h2>
            <div id="collapse-{{qs.pk}}" class="accordion-collapse collapse" aria-labelledby="heading-{{qs.pk}}"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <table class="table table-sm">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Товар</th>
                            <th scope="col">Цена за 1 шт.</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Общая сумма</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                              {% for item in qs.soldproduct.all %}
                              <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{item.product.title}}</td>
                            <td>{{item.price}} руб.</td>
                            <td>{{item.count}} шт.</td>
                            <td>{% widthratio item.price 1 item.count %} руб.</td>
                        </tr>
                            {% endfor %}
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Сумма доставки - {{qs.delivery_pay}} руб.</td>
                              </tr>
                              <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Общая сумма - {{qs.price|add:qs.delivery_pay}} руб.</td>
                              </tr>
                            
                          
                        </tbody>
                      </table>
                      <div class='container'>

                        <form action="{% url 'admin_panel:add_track_code_in_order' qs.pk %}" method='post'>
                            {% csrf_token %}
                            <!-- <input type="hidden" name="id" id="id_id" value="{{qs.pk}}"> -->
                            <div class="input-group mb-3">
                                <input type="text" name="track_code" id="id_track_code" class="form-control" pattern="[0-9]{13,14}" {% if qs.track_code %} value="{{qs.track_code}}"{% endif %} placeholder="Трек номер"
                                    aria-label="Username" aria-describedby="addon-wrapping">
                                <button class="btn btn-outline-secondary" type="submit" name="input_trackcode"
                                    id="button-addon2">Отправить</button>
                            </div>
                        </form>

                      <div class="text-end">
                          <div style='display: inline-block;'>
                        <button id='test' data-pk="{{qs.pk}}" data-name="{{qs.fio}}" data-address="{{qs.address}}" data-postal="{{qs.post_index}}" data-phone="{{qs.number}}" {% if qs.user.username %} data-username="{{qs.user.username}}" {% endif %}  type="button" class="btn modalinfo" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="far fa-address-card"></i>
                          </button>

                    </div>
                </div>


            </div>
        </div>
        </div>

        {% endfor %}

    </div>
</div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Информация о заказе #</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table">
                <tbody>
                  <tr>
                    <td>Имя:</td>
                    <td id='name'>Егоров Егор</td>
                  </tr>
                  <tr>
                    <td>Адрес:</td>
                    <td id='address'>Пихтулино дом 33</td>
                  </tr>
                  <tr>
                    <td>Индекс:</td>
                    <td id='postal_code'>429950</td>
                  </tr>
                  <tr>
                    <td>Телефон:</td>
                    <td id='phone_number'>+79006292609</td>
                  </tr>
                  <tr>
                    <td>Телеграм:</td>
                    <td id='telegram'></td>
                  </tr>

                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  


  <script>
      $('.modalinfo').on('click', function() {
    
  // действия, которые будут выполнены при наступлении события...
  $('#name').html($(this).attr("data-name"));
  var qs_id = $(this).attr("data-pk")
  $('#exampleModalLabel').html('Информация о заказе #'+qs_id);
  $('#address').html($(this).attr("data-address"));
  $('#postal_code').html($(this).attr("data-postal"));
  $('#phone_number').html($(this).attr("data-phone"));
    var DataUsername = ($(this).attr("data-username"));
    if (DataUsername !==undefined) {
        str = '<a id="href_id" href="https://t.me/'+ DataUsername +'">@'+ DataUsername +'</a>';
        html = $.parseHTML(str);
        $
        $('#href_id').remove();
        $('#telegram').append(html);
    } else {
        $('#telegram').html('Пользователь скрыл юзернейм');;
    }
});
  </script>

{% endblock %}