{% extends 'base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3 text-center">
    <h3 class="py-2 font-weight-bold text-grey">
        Password reset
    </h3>
    <hr class="my-0">
    <div class="py-2">
        Мы отправили вам инструкции по сбросу вашего пароля. В случае если вы не получили
        никакого электронного письма, пожалуйста убедитесь, что вы указали правильный адрес
        электронной почты.
    </div>
</div>
{% endblock %}