{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
{% if form.errors %}
<div class="shadow-custom messages alert alert-danger
col-lg-5 mx-auto text-center">
    Не удалось обновить пароль.
    Убедитесь что старый пароль был введен верно и попробуйте снова.
</div>
{% endif %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">
        Изменить пароль
    </h3>
    <form method="post">
        {% csrf_token %}
        <div class="input-field">
            <label for="old_password" class="text-muted">Старый пароль</label>
            <input class="form-control" type="password" name="old_password" autofocus="" required=""
                id="id_old_password">
        </div>
        <div class="input-field">
            <label for="new_password1" class="text-muted">Новый пароль</label>
            <input class="form-control" type="password" name="new_password1" required="" id="id_new_password1">
        </div>
        <div class="input-field">
            <label for="new_password2" class="text-muted">Повторите новый пароль</label>
            <input class="form-control" type="password" name="new_password2" required="" id="id_new_password2">
        </div>
        <button class="btn btn-block btn-warning mb-3" type="submit">
            Изменить пароль
        </button>
    </form>
</div>
{% endblock content %}