{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}

  <h1 class="text-center">{{title}}</h1>
<div class="container-fluid">


    <div class="accordion" id="accordionExample">
        {% for qs in queryset %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{qs.pk}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{qs.pk}}" aria-expanded="true" aria-controls="collapse-{{qs.pk}}">
                    Заказ #{{qs.pk}} от {{qs.get_datetime}} на сумму {{qs.price}} руб.

                </button>
            </h2>
            <div id="collapse-{{qs.pk}}" class="accordion-collapse collapse" aria-labelledby="heading-{{qs.pk}}"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <table class="table table-sm">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Товар</th>
                            <th scope="col">Цена за 1 шт.</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Общая сумма</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                              {% for item in qs.soldproduct.all %}
                              <tr {% if item.product.count < item.count %} class="table-danger" {% endif %}>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{item.product.title}}</td>
                            <td>{{item.price}} руб.</td>
                            <td>
                            <form style="display:inline;" action="{% url 'admin_panel:change_item_site_order' item.pk %}" method="post">
                            {% csrf_token %}
                            <input title='На складе {{item.product.count}} шт.' style="width: 50%" type="number" id="id_count" name='count' pattern="" value={{item.count}} required> шт.
                            <button type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Обновить">
                            <i class="fas fa-edit"></i>
                            </button>
                          </form>
                          <form style="display:inline;" action="{% url 'admin_panel:remove_item_site_order' item.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Удалить">
                              <i class="fas fa-trash-restore-alt"></i>
                            </button>
                          </form>
                            </td>
                            <td>{% widthratio item.price 1 item.count %} руб.</td>
                        </tr>
                            {% endfor %}
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Сумма доставки - {{qs.transport_cost}} руб.</td>
                              </tr>
                              <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Общая сумма - {{qs.price|add:qs.transport_cost}} руб. </td>
                              </tr>
                            
                          
                        </tbody>
                      </table>
                      <div class='container'>
                      <div class="text-end">
                          <div style='display: inline-block;'>
                        <button id='test' data-pk="{{qs.pk}}" data-name="{{qs.first_name}} {{qs.last_name}}" data-city="{{qs.city}}" data-address="{{qs.address}}" data-postal="{{qs.postal_code}}" data-phone="{{qs.telephone}}" {% if qs.user.username %} data-username="{{qs.user.username}}" {% endif %} data-note="{{qs.note}}" data-email="{{qs.email}}" type="button" class="btn modalinfo" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="far fa-address-card"></i>
                          </button>

                        <form style="display:inline;" action="{% url 'admin_panel:delete_site_order' qs.pk %}" method="post">
                            {% csrf_token %}
                            <button class='btn btn-danger'>Удалить</button>
                        </form>

                        <form style="display:inline;" action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name='id' id="id_id" value={{qs.pk}}>
                            <button class='btn btn-success' type='submit'>Оплачено</button>
                        </form>
                    </div>

                    </div>
                </div>


            </div>
        </div>
        </div>

        {% endfor %}

    </div>
</div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Информация о заказе #</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table">
                <tbody>
                  <tr>
                    <td>Имя:</td>
                    <td id='name'></td>
                  </tr>
                  <tr>
                    <td>Город:</td>
                    <td id='city'></td>
                  </tr>
                  <tr>
                    <td>Адрес:</td>
                    <td id='address'></td>
                  </tr>
                  <tr>
                    <td>Индекс:</td>
                    <td id='postal_code'></td>
                  </tr>
                  <tr>
                    <td>Телефон:</td>
                    <td id='phone_number'></td>
                  </tr>
                  <tr>
                    <td>email:</td>
                    <td id='email'></td>
                  </tr>
                  <tr>
                    <td>Заметка к заказу:</td>
                    <td id='note'></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  


  <script>
      $('.modalinfo').on('click', function() {
        $('#name').html($(this).attr("data-name"));
        var qs_id = $(this).attr("data-pk");
        $('#city').html($(this).attr("data-city"));
        $('#address').html($(this).attr("data-address"));
        $('#exampleModalLabel').html('Информация о заказе #'+qs_id);
        $('#postal_code').html($(this).attr("data-postal"));
        $('#phone_number').html($(this).attr("data-phone"));
        $('#note').html($(this).attr("data-note"));
        $('#email').html($(this).attr("data-email"));
    });
  </script>

{% endblock %}