<!doctype html>
<html lang="ru">

<head>
  <!-- Обязательные метатеги -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <script src="https://kit.fontawesome.com/c044e4f0d6.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'icon/favicon.png' %}" type="image/png">
    <script src="https://kit.fontawesome.com/c044e4f0d6.js" crossorigin="anonymous"></script>


  <title>{{title}}</title>
</head>

<body>

  <style>
.bg-company-red {
    background-color: rgb(0, 8, 54) !important;
}
  </style>

  {% block header %}
  <header class="p-3 bg-dark text-white bg-company-red">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        {% if request.user.is_superuser %}
        <a style="color: white;" href="{% url 'online_shop:product_list' %}">
          <i class="fas fa-store px-3"></i></a>
        <a style="color: white;" href="{% url 'admin_panel:list_product' %}"> 
          <i class="fas fa-globe"></i>
         </a>
         {% endif %}

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          
          {% url 'local_shop:list_product' as apo %}
          {% if request.path == apo %}
          <li><a href="{% url 'local_shop:list_product' %}" class="nav-link px-2 disabled">Все товары</a></li>
          {% else %}
          <li><a href="{% url 'local_shop:list_product' %}" class="nav-link px-2 text-white">Все товары</a></li>
          {% endif %}
          
          {% url 'local_shop:register_seller' as r %}
          {% if request.user.is_superuser %}
          {% if request.path == r %}
          <li><a href="{% url 'local_shop:register_seller' %}" class="nav-link px-2 disabled">Регистрация продовца</a></li>
          {% else %}
          <li><a href="{% url 'local_shop:register_seller' %}" class="nav-link px-2 text-white">Регистрация продовца</a></li>
          {% endif %}
          {% endif %}

          {% url 'local_shop:list_order' as loo %}
          {% if request.user.is_superuser %}
          {% if request.path == loo %}
          <li><a href="{% url 'local_shop:list_order' %}" class="nav-link px-2 disabled">Заказы</a></li>
          {% else %}
          <li><a href="{% url 'local_shop:list_order' %}" class="nav-link px-2 text-white">Заказы</a></li>
          {% endif %}
          {% endif %}
          
          {% url 'local_shop:statistic' as so %}
          {% if request.user.is_superuser %}
          {% if request.path == so %}
          <li><a href="{% url 'local_shop:statistic' %}" class="nav-link px-2 disabled">Статистика</a></li>
          {% else %}
          <li><a href="{% url 'local_shop:statistic' %}" class="nav-link px-2 text-white">Статистика</a></li>
          {% endif %}
          {% endif %}

          {% url 'local_shop:my_sales' as mso %}
          {% if request.path == mso %}
          <li><a href="{% url 'local_shop:my_sales' %}" class="nav-link px-2 disabled">Мои продажи</a></li>
          {% else %}
          <li><a href="{% url 'local_shop:my_sales' %}" class="nav-link px-2 text-white">Мои продажи</a></li>
          {% endif %}
  
        </ul>


          <div class='text-center'>
            <div class="dropdown">
              <a class="btn btn-outline-light dropdown-toggle me-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-plus"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% url 'local_shop:create_reception' as no %}
                <li><a class="dropdown-item {% if request.path == no %} disabled {% else %} {% endif %} " href="{% url 'local_shop:create_reception' %}">+ приемка</a></li>
                {% url 'local_shop:create_order' as oo %}
                <li><a href="{% url 'local_shop:create_order' %}" class="dropdown-item {% if request.path == oo %} disabled {% else %} {% endif %}">+ продажа</a></li>

                {% if request.user.is_superuser %}
                
                {% url 'local_shop:list_category' as qo %}
                
                <li><a class="dropdown-item {% if request.path == qo %} disabled {% else %} {% endif %}" href="{% url 'local_shop:list_category' %}">+ категория</a></li>
                
                {% url 'local_shop:create_product' as cp %}
                <li><a class="dropdown-item {% if request.path == cp %} disabled {% else %} {% endif %}" href="{% url 'local_shop:create_product' %}">+ товар</a></li>


                {% endif %}
              </ul>
            </div>
          </div>

          <a class="btn btn-danger " href="{% url 'logout' %}" role="button">Выход</a>
      </div>
    </div>
  </header>
  {% endblock %}


  {% block message %}
  <div class='container'>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
    {% endfor %}

    {% endif %}
  </div>
  {% endblock %}




  <!-- <main class="flex-shrink-0"> -->

    <br>
    {% block content %}
    <!-- <div class="container">

    </div> -->
    {% endblock %}

  <!-- </main> -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    
      

</body>

<!-- Модальное окно продажа начало -->

<!-- Модальное окно продажа конец  -->

<!-- Модальное окно приемка глобально начало -->

<!-- Модальное окно приемка глобально конец  -->



</html>
