<!doctype html>
<html lang="ru">

<head>
  <!-- Обязательные метатеги -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <title>{{title}}</title>
</head>

<body>

  <style>
.bg-company-red {
    background-color: rgb(0, 8, 54) !important;
}
  </style>

  {% block header %}
  <header class="p-3 bg-dark text-white bg-company-red">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  
        <a href="{% url 'all_product' %}"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
              <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
              <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
         </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          {% url 'all_product_offline' as apo %}
          {% if request.path == apo %}
          <li><a href="{% url 'all_product_offline' %}" class="nav-link px-2 disabled">Все товары</a></li>
          {% else %}
          <li><a href="{% url 'all_product_offline' %}" class="nav-link px-2 text-white">Все товары</a></li>
          {% endif   %}
          {% url 'register' as r %}
          {% if request.path == r %}
          <li><a href="{% url 'register' %}" class="nav-link px-2 disabled">Регистрация продовца</a></li>
          {% else %}
          <li><a href="{% url 'register' %}" class="nav-link px-2 text-white">Регистрация продовца</a></li>
          {% endif %}
          <li><a href="{% url 'list_order_offline' %}" class="nav-link px-2 text-white">Заказы</a></li>
        </ul>

        <div class="text-end">
          <button type='button' class='btn btn-outline-light' data-bs-toggle="modal" data-bs-target="#receptionGlobalModal" >+ Приемка</button>
          <button type='button' class='btn btn-outline-light' data-bs-toggle="modal" data-bs-target="#sellModal" >+ Продажа</button>
          <div class="btn-group">
            <a class="btn btn-outline-light" href="{% url 'category_offline' %}" role="button">+ Категория</a>
          </div><!-- /btn-group -->
          <div class="btn-group">
            <div class="dropdown">
              <a class="btn btn-outline-light" href="{% url 'add_product_offline' %}" role="button">+ Товар</a>
            </div>
          </div><!-- /btn-group -->
          <a class="btn btn-danger " href="{% url 'logout' %}" role="button">Выход</a>
        </div>
      </div>
    </div>
  </header>
  {% endblock %}


  {% block message %}
  <div class='container'>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    {% endif %}
  </div>
  {% endblock %}




  <main class="flex-shrink-0">

    <br>
    {% block content %}
    <div class="container">

    </div>
    {% endblock %}

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    
    <script>
      
      function AddItem() {
        var items=0;
        div=document.getElementById("items");
        button=document.getElementById("add");
        items++;
        newitem='<div id="div_id_'+ items +'" class="input-group mb-3"> <select class="form-select" name="product_id" required>';
        newitem+='{% for c in category %}';
        newitem+=' <optgroup style="color:blue" label="{{c}}">'
        newitem+='{% for sc in c.offlinesubcategory_set.all %}'
        newitem+='<optgroup style="color:red" label="&nbsp;&nbsp;&nbsp;&nbsp;{{sc}}">'
        newitem+='{% for p in sc.offlineproduct_set.all %}';
        newitem+='<option style="color:black" value="{{p.pk}}">&nbsp;&nbsp;&nbsp;&nbsp;{{p.title}}</option>'
        newitem+= '{% endfor %} {% endfor %}</optgroup>{% endfor %}</select>'
        newitem+= '<span class="input-group-text" name="product_span_id"></span> <input id="product_input_id" type="number" name="product_count" class="form-control" placeholder="Кол-во" aria-label="count" required>'
        newitem+= '<button type="button" id="product_but_id" onclick="removeForm('+items+')" class="btn btn-danger">x</button> </div>'
        newnode=document.createElement("span");
        newnode.innerHTML=newitem;
        div.insertBefore(newnode,button);
      }

      function removeForm(items) {
      (elem=document.getElementById('div_id_'+ items)).parentNode.removeChild(elem);
        }

      </script>

      

</body>

<!-- Модальное окно продажа начало -->
<div class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="sellModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sellModalLabel">Оформление заказа</h5>
      </div>
      <div class="modal-body">
        <form action="{% url 'order_offline' %}" name="form1" method='post'>
          {% csrf_token %}
        
          <div class="input-group mb-3">
            <select class="form-select" name="product_id" id='product_id' required>
              {% for c in category %}
              <optgroup style="color:blue" label="{{c}}">
                  {% for sc in c.offlinesubcategory_set.all %}
                  <optgroup style="color:red" label="&nbsp;&nbsp;&nbsp;&nbsp;{{sc}}">
                    {% for p in sc.offlineproduct_set.all %}
                    <option style="color:black" value="{{p.pk}}">&nbsp;&nbsp;&nbsp;&nbsp;{{p.title}}</option>
                  {% endfor %}
                  {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
            <span class="input-group-text" id="product_span_id_1"></span>
            <input type="number" name='product_count' class="form-control" placeholder="Кол-во" aria-label="count" required>
          </div>
          <div ID="items">
            
          <input type="button" class="btn btn-outline-primary" value="+" onClick="AddItem();" ID="add">
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-success" name="sell">Оформить</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!-- Модальное окно продажа конец  -->

<!-- Модальное окно приемка глобально начало -->
<div class="modal fade" id="receptionGlobalModal" tabindex="-1" aria-labelledby="receptionGlobalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="receptionGlobalModalLabel">Приемка товара</h5>
      </div>
      <div class="modal-body">
          <form action="{% url 'reception_offline' %}" method='POST'>
            {% csrf_token %}
            <label for="count_reception" class="form-label">Кол-во товара:</label>
            <input type="number" name="count_reception" class="form-control">
            <br>

            <label for="note_reception" class="form-label">Заметка:</label>
            <input type="text" name="note_reception" class="form-control">
            <br>
            <label for="product_id" class="form-label">Товар:</label>
            <select class="form-select" name="product_id" id='product_id' required>
              {% for c in category %}
              <optgroup style="color:blue" label="{{c}}">
                  {% for sc in c.offlinesubcategory_set.all %}
                  <optgroup style="color:red" label="&nbsp;&nbsp;&nbsp;&nbsp;{{sc}}">
                    {% for p in sc.offlineproduct_set.all %}
                    <option style="color:black" value="{{p.pk}}">&nbsp;&nbsp;&nbsp;&nbsp;{{p.title}}</option>
                  {% endfor %}
                  {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
          
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-success" name="reception_global">Добавить товар</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!-- Модальное окно приемка глобально конец  -->

</html>
