{% extends 'seller_site/base.html' %}
{% load static %}
{% block content %}

<div class='container'>
<div class='text-center'><h1>{{title}}</h1>
{% if cash_seller %}
<h4>Отчисление продавцу за день: {{ cash_seller }} руб.</h4>
{% endif %}
</div>
  <br>
  <form action="" class="" method='get'>
  
    <div class="input-group mb-3">
  <select name='user_id' style="width: 20%;" class="form-select" aria-label="Default select example">
    <option selected>Все продавцы</option>
    {% for u in users %}
    <option value="{{u.pk}}">{{u.first_name}} {{u.last_name}}</option>
    {% endfor %}
  </select>
  <button name="seller_filter" class="btn btn-outline-secondary" type="submit">Button</button>
</div>
  <br>
</form>
  <br>

<div class="accordion" id="accordionExample">
    {% for qs in queryset %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{qs.pk}}"
                aria-expanded="true" aria-controls="collapse{{qs.pk}}">
                От {{qs.get_datetime}} на сумму {{ qs.price }} руб. (Продавец - {{qs.user.first_name}} {{qs.user.last_name}})
            </button>
        </h2>
        <div id="collapse{{qs.pk}}" class="accordion-collapse collapse " aria-labelledby="heading{{qs.pk}}"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="text-center">
                <!-- <form action="" method='post'> -->
                    <!-- {% csrf_token %} -->
                    <!-- <input type="hidden" name="order_id" value="{{qs.pk}}"> -->
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Товар</th>
                        <th scope="col">Цена за 1 шт.</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Общая сумма</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for product in qs.offlinesoldproduct_set.all %}
                      <tr class=''>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{product.title}}</td>
                        <td>{{product.price}} руб.</td>
                        <td class="text-align:right;">
                          <form action="{% url 'local_shop:change_order' product.pk %}" method="post">
                            {% csrf_token %}
                            <input style="width: 25%" type="number" id="id_count" name='count' pattern="" value={{product.count}} required> шт.
                            <button type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Обновить">
                            <i class="fas fa-edit"></i>
                        </button>
                          </form>

                          <!-- <form  action="{% url 'remove_item_in_order' product.pk %}" method="post"> -->
                            <!-- {% csrf_token %} -->
                            <button type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Удалить">
                              <i class="far fa-trash-alt"></i>
                          </button>
                          <!-- </form> -->
                            

                        </td>
                        <td>{% widthratio product.price 1 product.count %} руб.</td>
                      </tr>
                      {% endfor %}
                      <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Общая сумма - {{qs.price}} руб.</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
                <br>
                <div class="text-end">
                  <form action="{% url 'local_shop:delete_order' qs.pk %}">
                <button type="submit" class="btn btn-danger" name='change_order'>Удалить заказ</button>
              </form>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>

  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      {% if page_obj.has_previous %}
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        {% endif %}
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a></li>
    <li class="page-item">
      {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      {% endif %}
    </li>
  </ul>
</nav>
<br>

<!-- {% widthratio page_obj.number 1 -1 as res %}
{{page_obj.paginator.num_pages|add:res}}  -->
<!-- 
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    {% endif %}
    {% if page_obj.paginator.num_pages|add:res > 1 %}
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:"1" }}</a></li>
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:"2" }}</a></li>
    {% elif page_obj.paginator.num_pages|add:res == 1 %}
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:"1" }}</a></li>
    {% elif page_obj.paginator.num_pages|add:res == 0 %}
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
    {% endif %}
  </ul>
</nav> -->

</div>


{% endblock %}


