{% extends 'seller_site/base.html' %}

{% block content %}

<script>
    function changeCategory(pk, price_for_seller, title) {
  document.getElementById('category_hidden_id').value = pk ;
  document.getElementById('category_name').value = title;
  document.getElementById('category_price_for_seller').value = price_for_seller;
  document.getElementById("cat_title_product").innerHTML = 'Вы уверенны что хотите изменить'+ ' ' + title + '?';
    }

    function changeSubategory(pk, title) {
   document.getElementById('subcategory_hidden_id').value = pk ;
   document.getElementById('subcategory_name').value = title;
   document.getElementById("subcat_title_product").innerHTML = 'Вы уверенны что хотите изменить'+ ' ' + title + '?';
    }

    function delCategory() {
    var retVal = confirm("Вы уверены что хотите удалить категорию?");
    if (retVal == true) {
        // do stuff
        return true;
    } else {
        return false;
    }
    }
  </script>

<div class='container'>
    <div class="text-center">
        <h1>{{title}}</h1>
    </div>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
        {{ category_form.price_for_seller }}
        {{ category_form.name }}
            </div>
        <br>

        <div class="col">
            <div class="text-end">
                <button class="btn btn-success" type="Submit" id="button-addon2" name="create_category">Создать</button>
            </div>
        </div>
    </form>
    <br>

    <div class="accordion" id="accordionExample">
        {% for c in category %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{c.pk}}" aria-expanded="true" aria-controls="collapse-{{c.pk}}">
                    {{c}}
                </button>
            </h2>
            <div id="collapse-{{c.pk}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Имя подкатегории</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for sc in c.offlinesubcategory_set.all %}
                            <tr>
                                <th scope="row">{{sc.pk}}</th>
                                <td>{{sc.name}}</td>
                                <td>
                                    <div class="text-end">
                                        <button type='button' class='btn btn-primary btn-sm' data-bs-toggle="modal" onClick="changeSubategory({{sc.pk}}, '{{sc.name}}')" data-bs-target="#subcatModal">Изменить</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <!-- Поле ввода файла -->
                                <div class='text-end'>
                                    <!-- <input class="form-control-sm" type="file" id="formFile"> -->
                                    <form action="" method='post' enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                        {{sc_form.name}}
                                        <input type="hidden" name="category_id" value="{{c.pk}}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class='row'>
                        <div class="col">
                                <button type='button' class='btn btn-warning btn-sm' data-bs-toggle="modal" data-bs-target="#deletedModal" onclick="changeCategory({{c.pk}}, {{c.price_for_seller}}, '{{c.name}}');">Изменить</button>

                        </div>
                        <div class='col'>
                            <div class='text-end'>
                                <button class="btn btn-outline-success" type="submit" name="create_sc">Создать</button>
                            </div>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>


    {% endfor %}
</div>
</div>


  <!-- Модальное окно изменение начало -->
  <div class="modal fade" id="deletedModal" tabindex="-1" aria-labelledby="deletedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletedModalLabel"><div id="cat_title_product"></div></h5>
          
        </div>
        <div class="modal-body">
            <form action="" method='POST'>
              {% csrf_token %}
              <input name='category_pk' id='category_hidden_id' type="hidden">
              <div class="input-group mb-3">
                <div id="div_block" style="display: inline-block">
              <input style="float: left; width: 20%;" name='category_price_for_seller' id='category_price_for_seller' type="text" class="form-control">
              <input style="float: right; width: 75%;" name='category_name' id='category_name' type="text" class="form-control">
              </div>
            </div>
        </div>
  
        <div class="modal-footer">
            
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-danger" id='delete_button' onclick='return delCategory();' name="delete_category">Удалить</button>
          <button type="submit" class="btn btn-success" id='change_button' name="change_category">Изменить</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Модальное окно изменение конец  -->


    <!-- Модальное окно подкатегории начало -->
    <div class="modal fade" id="subcatModal" tabindex="-1" aria-labelledby="subcatModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="subcatModalLabel"><div id="subcat_title_product"></div></h5>
            </div>
            <div class="modal-body">
                <form action="" method='POST'>
                  {% csrf_token %}
                  <input name='subcategory_pk' id='subcategory_hidden_id' type="hidden">
                  <div class="input-group mb-3">
                  <input name='subcategory_name' id='subcategory_name' type="text" class="form-control">
                  </div>
                </div>
      
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-danger" id='delete_button' onclick='return delCategory();' name="delete_subcategory">Удалить</button>
              <button type="submit" class="btn btn-success" id='change_button' name="change_subcategory">Изменить</button>
            </form>
            </div>
          </div>
        </div>
        </div>
      <!-- Модальное окно подкатегории конец  -->

{% endblock %}