{% extends 'seller_site/base.html' %}

{% block content %}
<div class="text-center">
    <h1>{{title}}</h1>
</div>

<div class='container'>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Поиск
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form action="" method='get'>
          <div class="container">
            <div class="row">

              <div class="col-sm">
                <!-- Поиск по категории -->
                <div class="form-floating mb-3">
                  <select class="form-select" name='category' id="floatingSelect"
                    aria-label="Floating label select example">
                    <option label=""></option>
                    {% for c in category %}
                    <option value="{{c.pk}}">{{c.name}}</option>
                    {% endfor %}
                  </select>
                  <label for="floatingSelect">Поиск по категории</label>
                </div>
                <!--  -->
                <!-- Поиск по подкатегории -->
                <div class="form-floating mb-3">
                  <select name="subcategory" class="form-select" id="floatingSelect"
                    aria-label="Floating label select example">
                    <option></option>
                    {% for c in category %}
                    <optgroup label="{{c}}">
                      {% for sc in c.offlinesubcategory_set.all %}
                      {% if sc == product.subcategory %}
                      <option value="{{sc.pk}}">{{sc.name}}</option>
                      {% else %}
                      <option value="{{sc.pk}}">{{sc.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </optgroup>
                    {% endfor %}
                  </select>
                  <label for="floatingSelect">Поиск по подкатегории</label>
                </div>
              </div>
              <div class="col-sm">
                <!-- Поиск по имени -->
                <div class="form-floating mb-3">
                  <input class="form-control" name="title" type="text" placeholder="Поиск по имени"
                    aria-label="default input example">
                  <label for="floatingInput">Поиск по имени</label>
                </div>
                <!--  -->

                <div class="form-floating mb-3">
                  <select name='order_by' class="form-select" id="floatingSelect"
                    aria-label="Floating label select example">
                    <option selected></option>
                    <option value="count">Количеству (по убыванию)</option>
                    <option value="-count">Количеству (по возрастанию)</option>
                    <option value="price">Цене (по убыванию)</option>
                    <option value="-price">Цене (по возрастанию)</option>

                  </select>
                  <label for="floatingSelect">Сортировать по</label>
                </div>

              </div>
              <div class="col-sm align-self-center">
                <!-- Кнопка -->
                <div class='text-center'>
                <input type="submit" class='btn btn-success btn-lg' name='search' value="Поиск">
              </div>
                <!--  -->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Цена</th>
        {% if request.user.is_superuser %}
        <th scope="col">Закупочная цена</th>
        {% endif %}
        <th scope="col">Категория</th>
        <th scope="col">Подкатегория</th>
        <th scope="col">Остаток</th>
        {% if request.user.is_superuser %}
        <th scope="col">#</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for p in product %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{p.title|truncatewords:3}}</td>
        <td>{{p.price}}</td>
        {% if request.user.is_superuser %}
        <td>{{p.purchase_price}}</td>
        {% endif %}
        <td>{{p.subcategory.category}}</td>
        <td>{{p.subcategory}}</td>
        <td>{{p.count}} шт.</td>

        {% if request.user.is_superuser %}
        <td><div class="btn-group">
          <a class="btn btn-outline-dark" href="{% url 'product_detail_offline' pk=p.pk %}" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
              <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
          </a>
          <button type='button' class='btn btn-danger' data-bs-toggle="modal" data-bs-target="#deletedModal" onclick="delProduct({{p.pk}}, '{{p.title}}')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
        </div></td>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <!-- Модальное окно удаление начало -->
<div class="modal fade" id="deletedModal" tabindex="-1" aria-labelledby="deletedModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletedModalLabel"><div id="title_product"></div></h5>
        
      </div>
      <div class="modal-body">
          <form action="" method='POST'>
            {% csrf_token %}
            <input name='pk_p' id='del_hidden' type="hidden">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-danger" name="delete_product">Удалить</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!-- Модальное окно удаление конец  -->


<script>
  function delProduct(pk, title) {
document.getElementById('del_hidden').value = pk ;
document.getElementById("title_product").innerHTML = 'Вы уверенны что хотите удалить'+ ' ' + title + '?';
  }
</script>


  {% endblock %}